
@{
    ViewBag.Title = "AddSkill";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<form method="post">

    <h2>AddSkill</h2>

    <label>Skill Name</label>
    <input type="text" class="form-control" name="SkillTitle" />
    <br />

    <label>Skill Description</label>
    <input type="text" class="form-control" name="SkillDescription" />
    <br />

    <label>Skill İcon</label>
    <input type="text" class="form-control" name="Skillicon" />
    <br />

    <button class="btn btn-outline-warning">Save The New Skill</button>
</form>



