@model ResumeProject.Models.Tbl_Contact
@{
    Layout =" ~/Views/Shared/_DefaultLayout.cshtml";
}


   @Html.Action("PartialFeature")


    <section class="w3l-contacts-12">
        <div class="contact-top pt-5">
            <div class="container py-lg-5 py-2">
                <div class="title-heading-w3 mx-auto text-center mb-sm-5 mb-4">
                    <h3 class="w3l-title-main">Panelden Bana Mesaj Atabilirsiniz</h3>
                </div>
                <div class="d-grid cont-main-top">
                    <!-- contact form -->
                    <div class="contacts12-main">
                        <form  method="post" class="main-input">
                            <div class="top-inputs d-grid">
                                <input type="text" placeholder="İsim" name="NameSurname"  required=""> <!-- Placeholder boşta üzerinde isim yazıyor-->

                                <input type="text" name="Mail" placeholder="E-Mail Adresiniz"  required="">
                            </div>
                            @Html.DropDownListFor(x=>x.Subject,(List<SelectListItem>)ViewBag.v, new {@class="form-control"})
                          <!-- Dropdown list'i bu şekilde çekiyoruz'--> 
                            <textarea placeholder="Mesaj" name="Message"  required=""></textarea>
                            <div class="text-end">
                                <button type="submit" class="btn btn-primary btn-style">Gönder</button>
                            </div>
                        </form>
                    </div>
                    <!-- //contact form -->
                </div>
            </div>
            @Html.Action("PartialMap");
        </div>
    </section>
  




 