
@{
    ViewBag.Title = "AddProject";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>AddProject</h2>
<form method="post">
    <label> New Project Title</label>
    <input type="text" class="form-control" name="ProjectTitle" />
    <br />

    <label> New Project Description</label>
    <input type="text" class="form-control" name="ProjectDescription" />
    <br />

    <label> New Project Image Url</label>
    <input type="text" class="form-control" name="ProjectImageUrl" />
    <br />

    <button class="btn btn-outline-primary">Save New Project</button>

</form>

