
@{
    ViewBag.Title = "AddTechnology";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Add New Technology</h2>

<form method="post">
    <label>New Technology Name</label>
    <input type="text" class="form-control" name="TechnologyTitle" />
    <br />

    <label>New Technology Value</label>
    <input type="text"class="form-control" name="TechnologyValue" />
    <br />

  <button class="btn btn-outline-danger">Save the Changes</button>

</form>

