@using ResumeProject.Models
@model List<Tbl_Category>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Categorys</h2>

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>CategoryName</th>
        <th>Delete Category</th>
        <th>Update Category</th>
        <th>Message Type</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.CategoryID</td>
            <td>@item.CategoryName</td>
            <td><a href="/Category/DeleteCategory/@item.CategoryID" class="btn btn-outline-danger">Delete </a></td>
            <td><a href="/Category/UpdateCategory/@item.CategoryID" class="btn btn-outline-success">Update </a></td>
            <td><a href="/Category/GetMessageBySubject/@item.CategoryID" class="btn btn-outline-dark">Mesaj Türü'ne Göre Göster</a></td>
        </tr>

    }

</table>

<a href="/Category/AddCategory/" class="btn btn-outline-primary">Add New Category</a>
